.results {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
}

.results img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.results p,
.results h3 {
    padding: 10px;
    text-align: center;
}