nav {
    display: flex;
    padding: 0;
    /* background: #764abc; */
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 0.25rem 1.5rem;
    background-color: rgba(38, 36, 33, 1);
}

.navlink {
    text-decoration: none;
    color: rgb(252, 252, 252);
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.15rem;
    letter-spacing: -0.02em;
    margin: 0 1rem;
    display: inline-block;
}

.navlink:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(252, 252, 252);
    transition: width 0.4s ease-in-out;
}

.navlink:hover:after,
.navlink:focus:after {
    width: 100%;
}

.navLinks {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    justify-content: space-between;
}