.card {
    margin: 10px;
      box-shadow: rgba(151, 149, 158, 0.35) 0px 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    box-shadow: 1px 1px 10px #2c3d82;
}

.cardBody {
    padding: 20px;
}

.cardBody h4{
    padding-bottom:  20px;
}